@model SasquatchCAIRS.Request

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>

        @Html.HiddenFor(model => model.RequestID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentRequestID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParentRequestID)
            @Html.ValidationMessageFor(model => model.ParentRequestID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorFName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorFName)
            @Html.ValidationMessageFor(model => model.RequestorFName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorLName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorLName)
            @Html.ValidationMessageFor(model => model.RequestorLName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorPhone)
            @Html.ValidationMessageFor(model => model.RequestorPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorPhoneExt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorPhoneExt)
            @Html.ValidationMessageFor(model => model.RequestorPhoneExt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorEmail)
            @Html.ValidationMessageFor(model => model.RequestorEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientFName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientFName)
            @Html.ValidationMessageFor(model => model.PatientFName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientLName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientLName)
            @Html.ValidationMessageFor(model => model.PatientLName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientGender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientGender)
            @Html.ValidationMessageFor(model => model.PatientGender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientAge)
            @Html.ValidationMessageFor(model => model.PatientAge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientAgencyID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientAgencyID)
            @Html.ValidationMessageFor(model => model.PatientAgencyID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestStatus)
            @Html.ValidationMessageFor(model => model.RequestStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeOpened)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeOpened)
            @Html.ValidationMessageFor(model => model.TimeOpened)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeClosed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeClosed)
            @Html.ValidationMessageFor(model => model.TimeClosed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Severity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Severity)
            @Html.ValidationMessageFor(model => model.Severity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegionID)
            @Html.ValidationMessageFor(model => model.RegionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestorTypeID)
            @Html.ValidationMessageFor(model => model.RequestorTypeID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
