@using SasquatchCAIRS
@using SasquatchCAIRS.Models.Common
@model IEnumerable<SasquatchCAIRS.Request>

@{
    ViewBag.Title = Constants.UIString.TitleText.RESULTS;
}

<h2>@Constants.UIString.TitleText.RESULTS</h2>

<div class="buttons add-button">
    <a href="@Url.Action("Modify")" class="btn btn-custom" id="@Constants.UIString.ItemIDs.MODIFY_SEARCH">
        <i class="icon-edit button-icon"></i> @Constants.UIString.ButtonText.MODIFY_SEARCH
    </a>
    
    <a href="@Url.Action("Advanced")" class="btn btn-custom">
        <i class="icon-plus button-icon"></i> @Constants.UIString.ButtonText.NEW_SEARCH
    </a>
</div>

@foreach (string str in ViewBag.criteria) {
    @str
    <br/>
}
<br/>
@{
    int page = ViewBag.startIndex + 1;
    int total = (ViewBag.ResultSetSize/Constants.PAGE_SIZE) + 1;
}
Showing page @page of @total

<div>
</div>
@if (@ViewBag.ResultSetSize < 1) {
    <div class="message palette-danger-dark">@Constants.UIString.Response.NO_RESULTS</div>
}
    else {
    <fieldset class="results">
        <legend>@Constants.UIString.TitleText.RESULTS</legend>
        <div>
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.REQUEST_ID)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.CALLER_NAME_LABEL)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.PATIENT_NAME_LABEL)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.STATUS)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.KEYWORDS)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.START_TIME)
                    </th>
                    <th>
                        @Html.DisplayName(Constants.UIString.FieldLabel.COMPLETED_TIME)
                    </th>
                </tr>

                @foreach (Request request in Model) {
                    <tr>
                        <td class="clickable" data-id="@request.RequestID" id="request-id">
                            @Html.DisplayFor(modelItem => request.RequestID)
                        </td>
                        <td class="clickable" data-id="@request.RequestID" id="requestor-name"> 
                            @Html.DisplayFor(modelItem => request.RequestorFName) 
                            @Html.DisplayFor(modelItem => request.RequestorLName)
                        </td>
                        <td  class="clickable" data-id="@request.RequestID" id="patient-name">
                            @Html.DisplayFor(modelItem => request.PatientFName) 
                            @Html.DisplayFor(modelItem => request.PatientLName)
                        </td>
                        <td class="clickable" data-id="@request.RequestID" id="status">
                            @Enum.GetName(typeof (Constants.RequestStatus), @request.RequestStatus)
                        </td>
                        <td class="clickable" data-id="@request.RequestID" id="keywords">
                            @String.Join(", ", ViewBag.keywordDict[@request.RequestID])
                        </td>
                        <td class="clickable" data-id="@request.RequestID" id="time-opened"> 
                            @Html.DisplayFor(modelItem => request.TimeOpened)
                        </td>
                        <td class="clickable" data-id="@request.RequestID" id="time-closed">
                            @Html.DisplayFor(modelItem => request.TimeClosed)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </fieldset>
}
<div>
    @if ((int) ViewBag.startIndex > 0) {
        @Html.ActionLink("Previous Page", "Page", new {id = @ViewBag.startIndex - 1})
    } 
    @if ((int) ViewBag.ResultSetSize > Constants.PAGE_SIZE*((int) ViewBag.startIndex + 1)) {
        @Html.ActionLink("Next Page", "Page", new {id = @ViewBag.startIndex + 1})
    }
</div>

<script type="text/javascript">
    $(function() {
        $(".clickable").click(function() {
            document.location.href = "/Request/Details/" + $(this).attr("data-id");
        });
    })

</script>