@model IEnumerable<SasquatchCAIRS.Request>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

For keywords: @ViewBag.keywords

<div>
</div>
<div class="btn-group float-right">
    <form method="post" action="~/Search/Modify">
        <button class="btn">Modify Search</button>
    </form>
    <form method="post" action="~/Search/Advanced">
        <button class="btn">New Search</button>
    </form>
</div>
@if (@ViewBag.ResultSetSize < 1) {
    <p>
    <br />
    <h3>No results were found</h3>
    </p>
} else {

<fieldset>
    <legend>Search Results</legend>
    <div class="float-bottom">
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayName("Req ID")
        </th>
        <th>
            @Html.DisplayName("Caller Name")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        @*<th>
        @Html.DisplayName("Keywords")
    </th>*@
        <th>
            @Html.DisplayName("Started")
        </th>
        <th>
            @Html.DisplayName("Completed")
        </th>
    </tr>

@*
@foreach (var request in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => request.RequestID)
        </th>
        <th>
            @Html.DisplayFor(modelItem => request.RequestorLName), 
            @Html.DisplayFor(modelItem => request.RequestorFName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => request.RequestStatus)
        </th>
        <th>
        @Html.DisplayFor(modelItem => request.Keywords)
        </th> 
        <th>
            @Html.DisplayFor(modelItem => request.TimeOpened)
        </th>
        <th>
            @Html.DisplayFor(modelItem => request.TimeClosed)
        </th>
    </tr>
}*@
</table>
</div>
</fieldset>
}
