@using SasquatchCAIRS.Helper
@using SasquatchCAIRS.Models

@model SasquatchCAIRS.Models.ServiceSystem.ReferenceContent

@{
    Layout = null;
}

<tr id="qr-references-@(ViewBag.Guid)-@(ViewBag.RefGuid)">
    @using (Html.BeginCollectionItemFromIndex(
        "questionResponseList[" + ((String) ViewBag.Guid) + "].referenceList",
        (String) ViewBag.RefGuid)) {
        <td>
            @Html.DropDownListFor(model => model.referenceType,
                                  (SelectList) @ViewBag.ReferenceTypes)
        
        </td>
        <td>
            @Html.TextBoxFor(model => model.referenceString)
            <input type="file" id="@(ViewBag.HtmlIdPrefix)referenceFilepath"/>
        </td>
        <td>
            <a href="#warning_modal" data-toggle="modal" 
               class="btn btn-danger btn-small del-ref" id="@(ViewBag.HtmlIdPrefix)remove">
                <i class="icon-remove"></i>
            </a>
        </td>
    }
</tr>

<script type="text/javascript">
    $(function () {
        $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").hide();

        $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").change(function () {
            $("#@(ViewBag.HtmlIdPrefix)referenceString").val($(this).val());
        });
        
        $("#@(ViewBag.HtmlIdPrefix)referenceType").change(function() {
            if ($(this).val() == "@Constants.ReferenceType.File.ToString()") {
                $("#@(ViewBag.HtmlIdPrefix)referenceString").hide();
                $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").show();
            } else {
                $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").hide();
                $("#@(ViewBag.HtmlIdPrefix)referenceString").show();
            }
        });

        $("#@(ViewBag.HtmlIdPrefix)remove").click(function(e) {
            e.preventDefault();

            $("#warning_modal_text").text("@Constants.UIString.Messages.DELETE_REFERENCE_WARNING");
            $("#warning_modal_yes_btn").unbind().click(function() {
                return deleteReference("@(ViewBag.Guid)", "@(ViewBag.RefGuid)");
            });
        });
    })
</script>