
@using SasquatchCAIRS.Helper
@using SasquatchCAIRS.Models.Common
@model SasquatchCAIRS.Models.Service.ReferenceContent

@{
    Layout = null;
}

<tr id="qr-references-@(ViewBag.Guid)-@(ViewBag.RefGuid)">
    @using (Html.BeginCollectionItemFromIndex(
        "questionResponseList[" + ((String) ViewBag.Guid) + "].referenceList",
        (String) ViewBag.RefGuid)) {
        if (Model.requestID != -1) {
            @:@Html.HiddenFor(model => model.requestID)
        }

        if (Model.questionResponseID != -1) {
            @:@Html.HiddenFor(model => model.questionResponseID);
        }

        if (Model.referenceID != -1) {
            @:@Html.HiddenFor(model => model.referenceID);
        }

        <td class="tbl-label tbl-nobold">
            @Html.DropDownListFor(model => model.referenceType,
                                  (SelectList) @ViewBag.ReferenceTypes,
                                  new {@class = "span4"})
        
        </td>
        <td class="tbl-content-560">
            @Html.TextBoxFor(model => model.referenceString, new {@class = "input-546 reference"})
            <input type="file" id="@(ViewBag.HtmlIdPrefix)referenceFilepath" class="input-546" />
        </td>
        <td>
            <a href="#warning_modal" data-toggle="modal" 
               class="btn btn-danger btn-small del-ref" id="@(ViewBag.HtmlIdPrefix)remove">
                <i class="icon-remove"></i>
            </a>
        </td>
    }
</tr>

<script type="text/javascript">
    $(function() {
        $("#@(ViewBag.HtmlIdPrefix)referenceType").dropkick({
            change: function(value) {
                if (value == "@Constants.ReferenceType.File.ToString()") {
                    $("#@(ViewBag.HtmlIdPrefix)referenceString").prop('readonly', true);
                    $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").show();
                } else {
                    $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").hide();
                    $("#@(ViewBag.HtmlIdPrefix)referenceString").prop('readonly', false);
                }

                $("#@(ViewBag.HtmlIdPrefix)referenceString").val("");
            }
        });

        $("#@(ViewBag.HtmlIdPrefix)referenceFilepath").change(function() {
            $("#@(ViewBag.HtmlIdPrefix)referenceString").val($(this).val());
        });

        @if (Model.referenceType == Constants.ReferenceType.File) {
            @:$("#@(ViewBag.HtmlIdPrefix)referenceString").prop('readonly', true);
            @:$("#@(ViewBag.HtmlIdPrefix)referenceFilepath").show();
        } else {
            @:$("#@(ViewBag.HtmlIdPrefix)referenceFilepath").hide();
            @:$("#@(ViewBag.HtmlIdPrefix)referenceString").prop('readonly', false);
        }

        $("#@(ViewBag.HtmlIdPrefix)remove").click(function(e) {
            e.preventDefault();

            $("#warning_modal_text").text("@Constants.UIString.Messages.DELETE_REFERENCE_WARNING");
            $("#warning_modal_yes_btn").unbind().click(function() {
                return deleteReference("@(ViewBag.Guid)", "@(ViewBag.RefGuid)");
            });
        });
    })
</script>