@model SasquatchCAIRS.Models.ServiceSystem.QuestionResponseContent

@{
    Layout = null;
}

<table class="question-response">
    @Html.HiddenFor(model => model.questionResponseID)
    <tr>
        <td>
            @Html.LabelFor(model => model.question)
        </td>
    </tr>
    <tr>
        <td>@Html.TextAreaFor(model => model.question)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.response)</td>
    </tr>
    <tr>
        <td>@Html.TextAreaFor(model => model.response)</td>
    </tr>
</table>
