@using SasquatchCAIRS.Models;

@{
    ViewBag.Title = "Generate Reports";
}
<h2>Generate Reports</h2>

@using (Html.BeginForm("GeneratingReport", "ServiceSystem", 
    new {
        @class = "form form-report"
    })) {
    @Html.ValidationSummary(true)

    //if(User.IsInRole("ReportGenerator")) {
    <fieldset>
        <legend>Generate Report</legend>

        <div>
            <div>
                <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="Monthly">
                Month Range
                <br>
                <span>from 
                    @Html.TextBox("fromdatePicker", @DateTime.Now.ToString("MM/yyyy"), new { 
                        @id = "fromdatepicker", data_date_viewMode = "Months"
                    })
                    to
                    @Html.TextBox("todatePicker", @DateTime.Now.ToString("MM/yyyy"), new { 
                        @id = "todatepicker"
                    })
                    
                </span>
            </div>
            <div class="alert alert-error" id="alert">
                <strong>Oh snap!</strong>
            </div>

            <div>
                <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="MonthPerYear">
                Month by Year<br>
                             <select name="MPYMonth">
                                 @foreach (var month in Enum.GetNames(typeof(Constants.Month))) {
                                     <option value="@month">@month</option>
                                 }
                             </select>
                             from 
                             <select name="MPYStartYear">
                                 @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                                     <option value="@i">@i</option>
                                 }
                             </select>
                             to                                                                  
                             <select name="MPYEndYear">
                                 @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                                     <option value="@i">@i</option>
                                 }
                             </select>

            </div>
            <div class="alert alert-error" id="alert2">
                <strong>Oh snap!</strong>
            </div>

            <div>
                <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="FiscalYear">
                Reporting Year Range<br>
                                    from 
                                    <select name="FYStartYear">
                                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                                            <option value="@i">@i - @(i+1)</option>
                                        }
                                    </select>
                                    to                
                                    <select name="FYEndYear">
                                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                                            <option value="@i">@i - @(i+1)</option>
                                        }
                                    </select>
            </div>
            <div class="alert alert-error" id="alert3">
                <strong>Oh snap!</strong>
            </div>


        </div>
        <div>
            <br />
            @Html.Label("Include:")
        </div>

        <div>
            <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" value="@Constants.DataType.AvgTimePerRequest">
            Average time spent per request (per question for "Tumour Group" stratification)<br>
            <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" value="@Constants.DataType.AvgTimeToComplete">
            Average time from start to completion per request (per questions for "Tumour Group" stratification)
            <br>
            <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" value="@Constants.DataType.TotalNumOfRequests">
            Total requests (total questions for "Tumour Group" stratification) per month/year
            <br>
            <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" value="@Constants.DataType.TotalTimeSpent">
            Total time spent per month/year
            <br>
        </div>
        <div class="alert alert-error" id="alert4">
            <strong>Oh snap!</strong>
        </div>

        <div>
            <br />
            @Html.Label("Stratify by:")
        </div>

        <div>
            <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" value="@Constants.StratifyOption.None">
            None <br>
            <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" value="@Constants.StratifyOption.Region">
            Geographic Region
            <br>
            <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" value="@Constants.StratifyOption.CallerType">
            Caller Type
            <br>
            <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" value="@Constants.StratifyOption.TumorGroup">
            Tumor Group
            <br>  
        </div>
        <div class="alert alert-error" id="alert5">
            <strong>Oh snap!</strong>
        </div>

        <p>
            <br />
            <input class="btn" type="submit" value="Generate Report" />
        </p>
    </fieldset>
    //}
    
    <style>
        #alert { display: none;}
        #alert2 { display: none;}
        #alert3 { display: none;}
        #alert4 { display: none;}
        #alert5 { display: none;}
    </style>
    
}
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    var startDate = new Date();
    var endDate = new Date();
    
    var frompicker = $("#fromdatepicker").datepicker({format:"mm/yyyy", viewMode:"months", minViewMode:"months"}).on("changeDate", function (ev) {
        if (ev.date.valueOf() > endDate.valueOf()) {
            $('#alert').show().find('strong').text('The start date can not be greater then the end date');
        } else {
            $('#alert').hide();
            startDate = new Date(ev.date);
            $('#startDate').text($('#fromdatepicker').data('date'));
        }
        $("#fromdatepicker").datepicker("hide");
    });
    
    var toPicker = $("#todatepicker").datepicker({ format: "mm/yyyy", viewMode: "months", minViewMode: "months" }).on("changeDate", function (ev) {
        if (ev.date.valueOf() < startDate.valueOf()) {
            $('#alert').show().find('strong').text('The end date can not be less then the start date');
        } else {
            $('#alert').hide();
            endDate = new Date(ev.date);
            $('#endDate').text($('#todatepicker').data('date'));
        }
        $("#todatepicker").datepicker("hide");
    });

</script>
   