@using SasquatchCAIRS.Models;

@{
    ViewBag.Title = "Generate Reports";
}
<h2>Generate Reports</h2>

@using (Html.BeginForm("GenaratingReport", "ServiceSystem", 
    new {
        @class = "form form-report"
    })) {
    @Html.ValidationSummary(true)

    //if(User.IsInRole("ReportGenerator")) {
    <fieldset>
        <legend>Generate Report</legend>

        <div>
            <div>
                <input type="radio" name="reportOption" value="Monthly">
                Month Range
                <br>
                <span>from 
                    @Html.TextBox("fromdatePicker", @DateTime.Now.ToShortDateString(), new { 
                        @id = "fromdatepicker",
                        data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower()
                    })
                    to
                    @Html.TextBox("todatePicker", @DateTime.Now.ToShortDateString(), new { 
                        @id = "todatepicker",
                        data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower()
                        })
                </span>
            </div>

            <div>
                <input type="radio" name="reportOption" value="MonthPerYear">
                Month by Year<br>
                <select name="MPYMonth">
                    @foreach (var month in Enum.GetNames(typeof(Constants.Month))) {
                        <option value="@month">@month</option>
                        }
                </select>
                from 
                    <select name="MPYStartYear">
                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                            <option value="@i">@i</option>
                        }
                    </select>
                to                                                                  
                    <select name="MPYEndYear">
                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                            <option value="@i">@i</option>
                        }
                    </select>

            </div>

            <div>
                <input type="radio" name="reportOption" value="FiscalYear">
                Reporting Year Range<br>
                from 
                    <select name="FYStartYear">
                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                            <option value="@i">@i - @(i+1)</option>
                            }
                    </select>
                to                
                    <select name="FYEndYear">
                        @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                            <option value="@i">@i - @(i+1)</option>
                            }
                    </select>
            </div>


        </div>
        <div>
            <br />
            @Html.Label("Include:")
        </div>

        <div>
            <input type="checkbox" name="dataType" value="@Constants.DataType.AvgTimePerRequest">
            Average time spent per request (per question for "Tumour Group" stratification)<br>
            <input type="checkbox" name="dataType" value="@Constants.DataType.AvgTimeToComplete">
            Average time from start to completion per request (per questions for "Tumour Group" stratification)
            <br>
            <input type="checkbox" name="dataType" value="@Constants.DataType.TotalNumOfRequests">
            Total requests (total questions for "Tumour Group" stratification) per month/year
            <br>
            <input type="checkbox" name="dataType" value="@Constants.DataType.TotalTimeSpent">
            Total time spent per month/year
            <br>
        </div>


        <div>
            <br />
            @Html.Label("Stratify by:")
        </div>

        <div>
            <input type="checkbox" name="stratigyBy" value="@Constants.StratifyOption.None">
            None <br>
            <input type="checkbox" name="stratigyBy" value="@Constants.StratifyOption.Region">
            Geographic Region
            <br>
            <input type="checkbox" name="stratigyBy" value="@Constants.StratifyOption.CallerType">
            Caller Type
            <br>
            <input type="checkbox" name="stratigyBy" value="@Constants.StratifyOption.TumorGroup">
            Tumor Group
            <br>  
        </div>

        <p>
            <br />
            <input class="btn" type="submit" value="Generate Report" />
        </p>
    </fieldset>
    //}
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#fromdatepicker").datepicker("autoclose", true);
        $("#todatepicker").datepicker("autoclose", true);
    </script>
}