@using SasquatchCAIRS.Controllers.Security
@using SasquatchCAIRS.Models
@using SasquatchCAIRS.Models.ServiceSystem

@model SasquatchCAIRS.Models.ServiceSystem.RequestContent

@if (Model != null) {
    <h2>@Constants.UIString.TitleText.VIEW_REQUEST - @Constants.UIString.TitleText.REQUEST_NUM@Model.requestID</h2>
    <h3>Request Information</h3>
    <table class="table information-table">
        <tr>
            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.CREATED_BY</td>
            <td class="tbl-content-4 tbl-top">@* TODO: Created By *@</td>

            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.START_TIME</td>
            <td class="tbl-content-4 tbl-top">@Model.timeOpened</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.COMPLETED_BY</td>
            <td class="tbl-content-4">@* TODO: Completed By *@</td>

            <td class="tbl-label">@Constants.UIString.FieldLabel.COMPLETED_TIME</td>
            <td class="tbl-content-4">@Model.timeClosed</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.STATUS</td>
            <td class="tbl-content-4">@Constants.getStatusString(Model.requestStatus)</td>

            <td class="tbl-label">@Constants.UIString.FieldLabel.TOTAL_TIME_SPENT</td>
            <td class="tbl-content-4">@ViewBag.TimeSpent mins</td>
        </tr>
    </table>

    <h3>Caller Information</h3>
    <table class="table information-table">
        <tr>
            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.CALLER_FNAME</td>
            <td class="tbl-content-4 tbl-top">@Model.requestorFirstName</td>

            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.CALLER_LNAME</td>
            <td class="tbl-content-4 tbl-top">@Model.requestorLastName</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.CALLER_EMAIL</td>
            <td colspan="3">@Model.requestorEmail</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.CALLER_PHONE</td>
            <td colspan="3">@Model.requestorPhoneNum @Model.requestorPhoneExt</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.CALLER_TYPE</td>
            <td class="tbl-content-4">@Model.requestorTypeID @*TODO: Convert to String Value using DB*@</td>

            <td class="tbl-label">@Constants.UIString.FieldLabel.CALLER_REGION</td>
            <td class="tbl-content-4">@Model.regionID @*TODO: Convert to String Value using DB*@</td>
        </tr>
    </table>

    <h3>Patient Information</h3>
    <table class="table information-table">
        <tr>
            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.PATIENT_ID</td>
            <td colspan="3" class="tbl-top">@Model.patientAgencyID</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.PATIENT_FNAME</td>
            <td class="tbl-content-4">@Model.patientFName</td>

            <td class="tbl-label">@Constants.UIString.FieldLabel.PATIENT_LNAME</td>
            <td class="tbl-content-4">@Model.patientLName</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.PATIENT_GENDER</td>
            <td class="tbl-content-4">@Constants.getGenderString(Model.patientGender)</td>

            <td class="tbl-label">@Constants.UIString.FieldLabel.PATIENT_AGE</td>
            <td class="tbl-content-4">@Model.patientAge</td>
        </tr>
    </table>

    <h3>Question Information</h3>
    foreach (QuestionResponseContent qr in Model.questionResponseList) {
        <table class="table information-table">
            <tr>
                <td class="tbl-label tbl-top" colspan="6">@Constants.UIString.FieldLabel.QUESTION</td>
            </tr>
            <tr>
                <td colspan="6">@qr.question</td>
            </tr>
            <tr>
                <td class="tbl-label" colspan="6">@Constants.UIString.FieldLabel.RESPONSE</td>
            </tr>
            <tr>
                <td colspan="6">@qr.response</td>
            </tr>
            <tr>
                <td class="tbl-label" colspan="6">@Constants.UIString.FieldLabel.SPECIAL_NOTES</td>
            </tr>
            <tr>
                <td colspan="6">@qr.specialNotes</td>
            </tr>
            <tr>
                <td class="tbl-label">@Constants.UIString.FieldLabel.SEVERITY</td>
                <td class="tbl-content-6">@qr.severity</td>

                <td class="tbl-label">@Constants.UIString.FieldLabel.CONSEQUENCE</td>
                <td class="tbl-content-6">@qr.consequence</td>

                <td class="tbl-label">@Constants.UIString.FieldLabel.IMPACT_SCORE</td>
                <td class="tbl-content-6">@Constants.getImpactScore(qr.severity, qr.consequence)</td>
            </tr>
            <tr>
                <td class="tbl-label">@Constants.UIString.FieldLabel.KEYWORDS</td>
                <td colspan="5">@foreach(KeywordContent kw in qr.keywords) { <span>@kw.keywordStr </span> }</td>
            </tr>
            <tr>
                <td class="tbl-label" colspan="6">@Constants.UIString.FieldLabel.REFERENCES</td>
            </tr>
            @foreach (ReferenceContent reference in qr.referenceList) {
                <tr>
                    <td>@reference.referenceType</td>
                    <td colspan="5">@reference.referenceString</td>
                </tr>
            }
        </table>
    }

    <h3>Properties</h3>
    <table class="table information-table">
        <tr>
            <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.PARENT_REQUEST</td>
            <td width="85%" class="tbl-top">@Model.parentRequestID</td>
        </tr>
    </table>

    <div class="buttons">
        @if (User.IsInRole(Constants.Roles.REQUEST_EDITOR)) {
            @Html.ActionLink(Constants.UIString.ButtonText.EDIT_REQUEST, "Edit", "Request", new {id = Model.requestID}, new {
                @class = "btn btn-warning edit-button"
            })
        } 

        @Html.ActionLink(Constants.UIString.ButtonText.EXPORT_REQUEST, "Export", "Request", new {id = Model.requestID}, new {
            @class = "btn btn-info export-button"
        }) 
    
        @if (User.IsInRole(Constants.Roles.ADMINISTRATOR) && RequestLockController.instance.isLocked(Model.requestID)) {
            @Html.ActionLink(Constants.UIString.ButtonText.UNLOCK_REQUEST, "Unlock", "Request", new {id = Model.requestID}, new {
                @class = "btn btn-info unlock-button"
            })
        }
    </div>
}

@if (Model == null) {
    <h2>@Constants.UIString.TitleText.VIEW_REQUEST - @Constants.UIString.TitleText.ERROR</h2>
    <p>Cannot open request. You may not have the appropriate permissions to access this request.</p>
}