@using SasquatchCAIRS
@using SasquatchCAIRS.Controllers.Security
@using SasquatchCAIRS.Models.Common
@model SasquatchCAIRS.UserProfile
<h4>User Information</h4>
<table class ="table">
    <tr>
        <td class="tbl-label tbl-top">@Constants.UIString.FieldLabel.USERNAME</td>
        <td class="tbl-top">@Model.UserName</td>
    </tr>
    <tr>
        <td class="tbl-label">@Constants.UIString.FieldLabel.FULL_NAME</td>
        <td>@Model.UserFullName</td>
    </tr>
    <tr>
        <td class="tbl-label">@Constants.UIString.FieldLabel.USER_EMAIL</td>
        <td>@Model.UserEmail</td>
    </tr>
    <tr>
        <td class="tbl-label">@Constants.UIString.FieldLabel.ROLES</td>
        <td id="user-roles">@foreach (string role in Roles.GetRolesForUser(Model.UserName)) {
                                @role
                                <br />
                            }</td>
    </tr>
    <tr>
        <td class="tbl-label">@Constants.UIString.FieldLabel.GROUPS</td>
        <td id="user-groups">@foreach (UserGroup group in (new UserManagementController()).getUserGroups(Model.UserName)) {
                                 <span>@group.Code - @group.Value</span>
                                 <br />
                             }</td>
    </tr>
</table>