@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@Html.Partial("_ViewUserInfo")

<h4>Change Password</h4>
<p>
    Please change your password through Windows Login.
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
