@using SasquatchCAIRS.Models.Common

@{
    ViewBag.Title = "Generate Reports";
    ViewBag.Page = "report";
}
<h2>Generate Reports</h2>

@using (Html.BeginForm("GeneratingReport", "Report",
                       new {
                           @class = "form form-report"
                       })) {
    @Html.ValidationSummary(true)

    <div class="message palette-danger-dark" id="reportOptionAlert">
        Oh snap!
    </div>
    <table class="table unbordered-table valign-middle">
        <tr>
            <td class="tbl-label">Report Type</td>
            <td>
                <label class="radio radio-custom" id="monthly-radio">
                    <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="Monthly"> 
                    Month Range
                </label>
            </td>
            <td>
                <label class="radio radio-custom" id="monthPerYear-radio">
                    <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="MonthPerYear"> 
                    Month by Year
                </label>
            </td>
            <td>
                <label class="radio radio-custom" id="year-radio">
                    <input type="radio" name="@Constants.ReportFormStrings.REPORT_OPTION" value="FiscalYear"> 
                    Reporting Year Range
                </label>
            </td>
        </tr>
    </table>

    <h4 class="hideable" id="h4-Monthly">Month Range</h4>

    <div class="message palette-danger-dark" id="alert">
        Oh snap!
    </div>
    <div class="message palette-warning-dark" id="alertError">
        Oh snap!
    </div>

    <table class="table unbordered-table valign-middle hideable" id="Monthly">
        <tr>
            <td class="tbl-label">Month Range</td>
            <td class="tbl-content-247"> 
                @Html.TextBox("fromdatePicker", @DateTime.Now.ToString("MM/yyyy"), new {
                    @id = "fromdatepicker",
                    data_date_viewMode = "Months",
                    @class = "span3"
                })
            </td>
            <td class="valigned">to</td>
            <td>
                @Html.TextBox("todatePicker", @DateTime.Now.ToString("MM/yyyy"), new {
                    @id = "todatepicker",
                    @class = "span3"
                })
            </td>
        </tr>
    </table>

    <h4 class="hideable" id="h4-MonthPerYear">Month by Year</h4>

    <div class="message palette-danger-dark" id="alert2">
        Oh snap!
    </div>

    <table class="table unbordered-table valign-middle hideable" id="MonthPerYear">
        <tr>
            <td class="tbl-label">Month</td>
            <td>
                <select name="MPYMonth" id="MPYMonth" class="span3">
                    @foreach (string month in Enum.GetNames(typeof (Constants.Month))) {
                        <option value="@month">@month</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbl-label">Year Range</td>
            <td class="tbl-content-247">
                <select name="MPYStartYear" id="MPYStartYear" class="span3">
                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
            <td class="valigned">to</td>
            <td>
                <select name="MPYEndYear" id="MPYEndYear" class="span3">
                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
        </tr>
    </table>

    <h4 class="hideable" id="h4-FiscalYear">Reporting Year Range</h4>

    <div class="message palette-danger-dark" id="alert3">
        Oh snap!
    </div>

    <table class="table unbordered-table valign-middle hideable" id="FiscalYear">
        <tr>
            <td class="tbl-label">Year Range</td>
            <td class="tbl-content-247"> 
                <select name="FYStartYear" id="FYStartYear" class="span3">
                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                        <option value="@i">@i - @(i + 1)</option>
                    }
                </select>
            </td>
            <td class="valigned">to</td>
            <td>
                <select name="FYEndYear" id="FYEndYear" class="span3">
                    @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 70; i--) {
                        <option value="@i">@i - @(i + 1)</option>
                    }
                </select>
            </td>
        </tr>
    </table>

    <h4>Report Options</h4>

    <div class="message palette-danger-dark" id="dataTypeAlert">
        Oh snap!
    </div>
    <div class="message palette-danger-dark" id="stratifyAlert">
        Oh snap!
    </div>

    <table class="table unbordered-table valign-middle">
        <tr>
            <td class="tbl-label" rowspan="5">Included Data</td>
        </tr>
        <tr>
            <td colspan="4">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" 
                           value="@Constants.DataType.AvgTimePerRequest">
                    Average Time Spent per Request
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" 
                           value="@Constants.DataType.AvgTimeToComplete">
                    Average Time from Start to Completion per Request
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" 
                           value="@Constants.DataType.TotalNumOfRequests">
                    Total Requests per Month/Year
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.DATATYPE" 
                           value="@Constants.DataType.TotalTimeSpent">
                    Total Time Spent per Month/Year
                </label>
            </td>
        </tr>
        
        <tr>
            <td class="tbl-label">
                Stratification
            </td>
            <td class="tbl-content-2125">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" 
                           value="@Constants.StratifyOption.None">
                    None
                </label>
            </td>
            <td class="tbl-content-2125"> 
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" 
                           value="@Constants.StratifyOption.Region">
                    Geographic Region
                </label>
            </td>
            <td class="tbl-content-2125">  
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" 
                           value="@Constants.StratifyOption.CallerType">
                    Caller Type
                </label>
            </td> 
            <td class="tbl-content-2125">
                <label class="checkbox radio-custom">
                    <input type="checkbox" name="@Constants.ReportFormStrings.STRATIFY_BY" 
                           value="@Constants.StratifyOption.TumorGroup">
                    Tumor Group
                </label>
            </td>
        </tr>
        
        <tr>
            <td></td>
            <td>
                <button class="btn btn-custom" id="submitBtn" type="submit">
                    <i class="icon-download-alt button-icon"></i> Generate Report
                </button>
            </td>
        </tr>
    </table>

    <style>
        #reportOptionAlert { display: none; }

        #alert { display: none; }

        #alertError { display: none; }

        #alert2 { display: none; }

        #alert3 { display: none; }

        #dataTypeAlert { display: none; }

        #stratifyAlert { display: none; }
    </style>
}
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    var initCheck = false;
    var startDate = new Date();
    startDate.setDate(1);
    startDate.setHours(0, 0, 0, 0);
    var endDate = new Date();
    endDate.setDate(1);
    endDate.setHours(0, 0, 0, 0);

    var frompicker = $("#fromdatepicker").datepicker({ format: "mm/yyyy", viewMode: "months", minViewMode: "months" }).on("changeDate", function(ev) {
        if (ev.date.valueOf() > endDate.valueOf()) {
            initCheck = true;
        } else {
            startDate = new Date(ev.date);
            $('#startDate').text($('#fromdatepicker').data('date'));
            initCheck = false;
        }
        $("#fromdatepicker").datepicker("hide");
    });

    var toPicker = $("#todatepicker").datepicker({ format: "mm/yyyy", viewMode: "months", minViewMode: "months" }).on("changeDate", function(ev) {
        if (ev.date.valueOf() < startDate.valueOf()) {
            initCheck = true;
        } else {
            endDate = new Date(ev.date);
            $('#endDate').text($('#todatepicker').data('date'));
            initCheck = false;
        }

        if (ev.date.valueOf() > new Date()) {
            $('#alertError').show().text('The end date selected is in the future. Your report might not contain valid values.');
        } else {
            $('#alertError').hide();
        }
        $("#todatepicker").datepicker("hide");
    });

    $("#submitBtn").click(function(e) {
        var validationCheck = false;

        var $start, $end;

        var reportOptionNotChecked = true;
        var reportOPtions = document.getElementsByName('@Constants.ReportFormStrings.REPORT_OPTION');
        for (var i = 0, j = reportOPtions.length; i < j; i++) {
            switch (reportOPtions[i].value) {
            case "Monthly":
                if (reportOPtions[i].checked) {
                    reportOptionNotChecked = false;
                    if (initCheck) {
                        validationCheck = true;
                        $('#alert').show().text('The end month cannot be before the start month.');
                    } else {
                        $('#alert').hide();
                    }
                } else {
                    $('#alert3').hide();
                }
                break;
            case "MonthPerYear":
                $start = $("#MPYStartYear"),
                $end = $("#MPYEndYear");
                if (reportOPtions[i].checked) {
                    reportOptionNotChecked = false;
                    if ($start.val() > $end.val()) {
                        validationCheck = true;
                        $('#alert2').show().text('The end year can not be before the start year.');
                    } else {
                        $('#alert2').hide();
                    }
                } else {
                    $('#alert2').hide();
                }

                break;
            case "FiscalYear":
                $start = $("#FYStartYear"),
                $end = $("#FYEndYear");
                if (reportOPtions[i].checked) {
                    reportOptionNotChecked = false;
                    if ($start.val() > $end.val()) {
                        validationCheck = true;
                        $('#alert3').show().text('The end range can not begin before the start range.');
                    } else {
                        $('#alert3').hide();
                    }
                } else {
                    $('#alert3').hide();
                }

                break;
            default:
                break;
            }
        }
        if (reportOptionNotChecked) {
            validationCheck = true;
            $('#reportOptionAlert').show().text('You must select a report option.');
        } else {
            $('#reportOptionAlert').hide();
        }


        var dataTypeNotChecked = true;
        var dataTypes = document.getElementsByName('@Constants.ReportFormStrings.DATATYPE');
        for (i = 0, j = dataTypes.length; i < j; i++) {
            if (dataTypes[i].checked) {
                dataTypeNotChecked = false;
            }
        }
        if (dataTypeNotChecked) {
            validationCheck = true;
            $('#dataTypeAlert').show().text('You must select at least one data type.');
        } else {
            $('#dataTypeAlert').hide();
        }


        var stratifyNotChecked = true;
        var stratifyOptions = document.getElementsByName('@Constants.ReportFormStrings.STRATIFY_BY');
        for (i = 0, j = stratifyOptions.length; i < j; i++) {
            if (stratifyOptions[i].checked) {
                stratifyNotChecked = false;
            }
        }
        if (stratifyNotChecked) {
            validationCheck = true;
            $('#stratifyAlert').show().text('You must select at least one stratification option. Select None if no stratification is wanted.');
        } else {
            $('#stratifyAlert').hide();
        }

        if (validationCheck == true) {
            e.preventDefault();
        }
    });


    $(function() {
        $(".radio.radio-custom").click(function() {
            var criteria = $(this).children("input").val(),
                $table = $("#" + criteria);

            $table.show();
            $table.siblings("#h4-" + criteria).show();
            $table.siblings(".hideable").not("#h4-" + criteria).hide();
            $(".message").hide();
        });

        $(".hideable").hide();
        setTimeout(function() {
            $(".hideable#" + $(".radio.radio-custom.checked input").val()).show();
        }, 100);
    });
</script>