@using SasquatchCAIRS.Models.Common
@model SasquatchCAIRS.Models.Security.AuditCriteria

@{
    ViewBag.Title = "Audit";
    ViewBag.Page = "admin";
}

@Html.Partial("_AdminNavPartial", new ViewDataDictionary {{"active", "audit"}})

<h2>@Constants.UIString.TitleText.ADMIN - @Constants.UIString.TitleText.AUDIT_LOG</h2>

@if (ViewBag.FailMessage != null) {
    <div class="message palette-danger-dark">
        @ViewBag.FailMessage
    </div>
}

@if (ViewBag.SuccessMessage != null) {
    <div class="message palette-success-dark">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm("Audit", "Admin", FormMethod.Post, new {@class = "form"})) {
    <table class="table unbordered-table valign-middle">
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.AUDIT_CRITERIA</td>
            <td class="tbl-field"><label class="radio radio-custom" id="username-radio">@Html.RadioButtonFor(model => model.criteriaType, "uCriteria") Username Criteria</label></td>
            <td class="tbl-field"><label class="radio radio-custom" id="request-radio">@Html.RadioButtonFor(model => model.criteriaType, "rCriteria") Request ID Criteria</label></td>
            <td>@Html.ValidationMessageFor(m => m.criteriaType)</td>
        </tr>
    </table>

    <h4 class="hideable" id="h4-uCriteria">@Constants.UIString.FieldLabel.USER_CRITERIA</h4>
    <table class="table unbordered-table valign-middle hideable" id="uCriteria">
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.USERNAME</td>
            <td class="tbl-field">@Html.TextBoxFor(m => m.userName, new {@class = "span3"})</td>
            <td>@Html.ValidationMessageFor(m => m.userName)</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.START_DATE</td>
            <td class="tbl-field">@Html.TextBoxFor(m => m.startDate, new {@class = "span3"})</td>
            <td>@Html.ValidationMessageFor(m => m.startDate)</td>
        </tr>
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.END_DATE</td>
            <td class="tbl-field">@Html.TextBoxFor(m => m.endDate, new {@class = "span3"})</td>
            <td>@Html.ValidationMessageFor(m => m.endDate)</td>
        </tr>
    </table>

    <h4 class="hideable" id="h4-rCriteria">@Constants.UIString.FieldLabel.REQUEST_CRITERIA</h4>
    <table class="table unbordered-table valign-middle hideable" id="rCriteria">
        <tr>
            <td class="tbl-label">@Constants.UIString.FieldLabel.REQUEST_ID</td>
            <td class="tbl-field">@Html.TextBoxFor(m => m.requestID, new {@class = "span3"})</td>
            <td>@Html.ValidationMessageFor(m => m.requestID)</td>
        </tr>
    </table>

    <table class="table unbordered-table valign-middle">
        <tr>
            <td class="tbl-label"></td>
            <td>
                <button class="btn btn-custom" type="submit" id="@Constants.UIString.ItemIDs.SUBMIT_BUTTON">
                    <i class="icon-download-alt button-icon"></i> @Constants.UIString.ButtonText.GEN_AUDIT
                </button>
            </td>
        </tr>
    </table>
}
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function() {
        $('#endDate').datepicker();
        $('#startDate').datepicker();
    });

    $(function() {
        $(".radio-custom").click(function() {
            var criteria = $(this).children("input").val(),
                $table = $("#" + criteria);

            $table.show();
            $table.siblings("#h4-" + criteria).show();
            $table.siblings(".hideable").not("#h4-" + criteria).hide();
        });

        $(".hideable").hide();
        setTimeout(function() {
            $(".hideable#" + $(".radio-custom.checked input").val()).show();
        }, 100);
    });
</script>