
@using SasquatchCAIRS.Models
@using SasquatchCAIRS.Models.ServiceSystem
@model Dictionary<Constants.DropdownTable, List<DropdownEntry>>

@{
    ViewBag.Title = Constants.UIString.TitleText.ADMIN + " - " + Constants.UIString.TitleText.DROPDOWN_LISTS;
    ViewBag.Page = "admin";
}

@Html.Partial("_AdminNavPartial", new ViewDataDictionary {{"active", "dropdowns"}})

<h2>@Constants.UIString.TitleText.ADMIN - @Constants.UIString.TitleText.DROPDOWN_LISTS</h2>

<div class="add-button dropdown">
    @foreach (Constants.DropdownTable dt in Model.Keys) {
        @Html.ActionLink(Constants.UIString.ButtonText.CREATE + " " + @Constants.getDropdownString(dt), "DropdownCreate", "Admin", new { table = dt }, new {
            @class = "btn btn-custom dropdown-create-button",
            @id = "button-" + dt
        })
    }
</div>



@if (ViewBag.SuccessMessage != null) {
    <div class="message palette-success-dark">
        @ViewBag.SuccessMessage
    </div>
}

@if (Model != null) {
    <div class="row">
        <div class="span2">
            <div class="btn-group btn-group-vertical dropdown-select">
                @foreach (Constants.DropdownTable dropdown in Model.Keys) {
                    <a class="btn btn-custom dropdown-button" href="#" data-dropdown="@dropdown">@Constants.getDropdownString(dropdown)</a>
                }
            </div>
        </div>
        <div class="span10">
            @foreach (var entries in Model) {
                <table class="table table-hover dropdown-table" id="table-@entries.Key">
                    <tr>
                        @if (entries.Key == Constants.DropdownTable.Keyword) {
                            <th>@Constants.UIString.FieldLabel.DROPDOWN_KEYWORD</th>
                            <th class="status">@Constants.UIString.FieldLabel.DROPDOWN_STATUS</th>
                        } else {
                            <th class="code">@Constants.UIString.FieldLabel.DROPDOWN_CODE</th>
                            <th class="value">@Constants.UIString.FieldLabel.DROPDOWN_VALUE</th>
                            <th class="status">@Constants.UIString.FieldLabel.DROPDOWN_STATUS</th>
                        }
                    </tr>
                    @foreach (DropdownEntry entry in entries.Value) {
                        <tr>
                            @if (entries.Key == Constants.DropdownTable.Keyword) {
                                <td class="clickable" data-id="@entry.id" data-dropdown="@entries.Key">@entry.value</td>
                                <td class="clickable status" data-id="@entry.id" data-dropdown="@entries.Key">
                                    @if (entry.active) { <span>@Constants.UIString.GeneralText.ACTIVE</span> } else { <span>@Constants.UIString.GeneralText.DISABLED</span> }
                                </td>
                            } else {
                                <td class="clickable code" data-id="@entry.id" data-dropdown="@entries.Key">@entry.code</td>
                                <td class="clickable value" data-id="@entry.id" data-dropdown="@entries.Key">@entry.value</td>
                                <td class="clickable status" data-id="@entry.id" data-dropdown="@entries.Key">
                                    @if (entry.active) { <span>@Constants.UIString.GeneralText.ACTIVE</span> } else { <span>@Constants.UIString.GeneralText.DISABLED</span> }
                                </td>
                            }
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
} else {
    <div class="message palette-danger-dark">Could not load Dropdown Tables!</div>
}

<script type="text/javascript">
    $(function() {
        $(".clickable").click(function() {
            document.location.href = "/Admin/Dropdown/Edit/" + $(this).attr("data-dropdown") + "/" + $(this).attr("data-id");
        });
    });
    
    $(function () {
        $(".dropdown-button").click(function () {
            // Vars
            var $this = $(this),
                $table = $("#table-" + $this.attr("data-dropdown")),
                $button = $("#button-" + $this.attr("data-dropdown"));

            // Set current as active and deactivate the rest
            $this.addClass("active", 300);
            $this.siblings().removeClass("active", 300);

            // Show the correct table;
            $table.show();
            $table.siblings().hide();
            
            // Show correct button
            $button.show();
            $button.siblings().hide();
        });
    });

    $(function () {
        $(".dropdown-table").hide();
        $(".dropdown-create-button").hide();
        $(".dropdown-button").first().click();
    });
</script>