@using SasquatchCAIRS
@using SasquatchCAIRS.Controllers.Security
@using SasquatchCAIRS.Models
@model IQueryable<UserProfile>
@{
    ViewBag.Title = Constants.UIString.TitleText.ADMIN + " - " + Constants.UIString.TitleText.USERS;
    ViewBag.Page = "admin";
}

@Html.Partial("_AdminNavPartial", new ViewDataDictionary{ { "active", "users" } })

<h2>@Constants.UIString.TitleText.ADMIN - @Constants.UIString.TitleText.USERS</h2>

@if (ViewBag.SuccessMessage != null) {
    <div class="message palette-success-dark">
        @ViewBag.SuccessMessage
    </div>
}

@if (Model != null) {
    <table class="table table-hover">
        <tr>
            <th>@Constants.UIString.FieldLabel.USERNAME</th>
            <th>@Constants.UIString.FieldLabel.FULL_NAME</th>
            <th>@Constants.UIString.FieldLabel.ROLES</th>
            <th>@Constants.UIString.FieldLabel.GROUPS</th>
        </tr>
        @foreach (UserProfile user in Model) {
            <tr>
                <td class="clickable" data-id="@user.UserId">@user.UserName</td>
                <td class="clickable" data-id="@user.UserId">@user.UserFullName</td>
                <td class="clickable" data-id="@user.UserId">@foreach (string role in Roles.GetRolesForUser(user.UserName)) {
                                                                 <span>@role</span>
                                                                 <br />
                                                             }</td>
                <td class="clickable" data-id="@user.UserId">@foreach (UserGroup group in (new UserController()).getUserGroups(user.UserName)) {
                                                                 <span>@group.Code - @group.Value</span>
                                                                 <br />
                                                             }</td>
            </tr>
        }
    </table>
} else {
    <div class="message palette-danger-dark">Could not load User List!</div>
}

<script type="text/javascript">
    $(function() {
        $(".clickable").click(function() {
            document.location.href = "/Admin/User/Edit/" + $(this).attr("data-id");
        });
    })
</script>
